<div class="card mt-2">
    <div class="card-header">
        <h3 class="card-header-title">
            Save to Database
        </h3>
    </div>
    <div class="card-body">

        <form id="saveForm" method="POST" action="#">
            <input type="hidden" id="token" name="token" value="{{ bearerToken }}">
            <table class="table">
                <tbody>
                    <tr>
                        <thead>
                            <th>First Name </th>
                            <th>Last Name</th>
                            <th>Company</th>
                            <th>Country</th>
                        </thead>
                    </tr>
                    <tr>
                        <td><input type="text" id="firstName" name="firstName" value="{{ firstName }}" class="form-control"></td>
                        <td><input type="text" id="lastName" name="lastName" value="{{ lastName }}" class="form-control"></td>
                        <td><input type="text" id="company" name="company" value="{{ company }}" class="form-control"></td>
                        <td><input type="text" id="country" name="country" value="{{ country }}" class="form-control"></td>
                    </tr>
                    <tr>
                        <thead>
                            <th>Address 1</th>
                            <th>Address 2</th>
                            <th>Postcode</th>
                            <th>City</th>
                        </thead>
                    </tr>
                    <tr>
                        <td><input type="text" id="address1" name="address1" value="{{ address1 }}" class="form-control"></td>
                        <td><input type="text" id="address2" name="address2" value="{{ address2 }}" class="form-control"></td>
                        <td><input type="text" id="postcode" name="postcode" value="{{ postcode }}" class="form-control"></td>
                        <td><input type="text" id="city" name="city" value="{{ city }}" class="form-control"></td>
                    </tr>
                     <tr>
                        <thead>
                            <th>Phone</th>
                            <th>Mobile Phone</th>
                            <th colspan="2"></th>
                        </thead>
                    </tr>
                    <tr>
                        <td><input type="text" id="phone" name="phone" value="{{ phone }}" class="form-control"></td>
                        <td><input type="text" id="phoneMobile" name="phoneMobile" value="{{ phoneMobile }}" class="form-control"></td>
                        <td colspan="2"></td>
                    </tr>
                </tbody>
            </table>
            <button type="button" id="saveButton" class="btn btn-primary">Save Data</button>
        </form>

    </div>
</div>

